<div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px; height: 100vh;">
    <img class="mx-auto" src="../../../assets/img/LaCapsule.png" alt="" width="160" height="auto">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        
      <span class="fs-4">Espace professionnels</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link link-body-emphasis mb-1 mt-2" aria-current="page">
            <img class="me-2" src="../../../assets/icone/home.png" alt="" style="width: 1.8rem;">
            Acceuil
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-body-emphasis mb-1">
            <img class="me-2" src="../../../assets/icone/form.png" alt=""style="width: 1.8rem;">
            Formulaire Ateliers
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-body-emphasis mb-1">
            <img class="me-2" src="../../../assets/icone/form.png" alt=""style="width: 1.8rem;">
            Formulaire Intervenants
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-body-emphasis mb-1">
            <img class="me-2" src="../../../assets/icone/calendar.png" alt=""style="width: 1.8rem;">
          Calendrier
        </a>
      </li>
    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>mdo</strong>
      </a>
      <ul class="dropdown-menu text-small shadow">
        <li><a class="dropdown-item" href="#">Profil</a></li>
        <li><a class="dropdown-item" href="#">Paramètres</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Se déconnecter</a></li>
      </ul>
    </div>
  </div>