<div class="d-flex m-4">

<mat-card class="matcard m-3 shadow border" style="max-width: 400px; background-color: white;">
    <mat-card-header>
      <div mat-card-avatar class="header-image" style="background-image: url('assets/img/cuisto.jpg');
      background-size: cover;"></div>
      <mat-card-title>Cuisine</mat-card-title>
      <mat-card-subtitle style="color: grey;">Claire DUPONT</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/atelier_cuisine.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content class="mt-2">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam excepturi asperiores, ipsum delectus deserunt reiciendis adipisci est consequuntur distinctio reprehenderit libero ullam velit quae repudiandae molestias accusamus quam aperiam incidunt?
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button style="color: black;" [routerLink]="['/authentification']">Réserver</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="matcard m-3 shadow border" style="max-width: 400px; background-color: white;">
    <mat-card-header>
      <div mat-card-avatar class="header-image" style="background-image: url('assets/img/cuisto.jpg');
      background-size: cover;"></div>
      <mat-card-title>Cuisine</mat-card-title>
      <mat-card-subtitle style="color: grey;">Claire DUPONT</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/atelier_cuisine.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content class="mt-2">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam excepturi asperiores, ipsum delectus deserunt reiciendis adipisci est consequuntur distinctio reprehenderit libero ullam velit quae repudiandae molestias accusamus quam aperiam incidunt?
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button style="color: black;" [routerLink]="['/authentification']">Réserver</button>
    </mat-card-actions>
  </mat-card>

</div>